scraping/Housing_data_cleaned
scraping/Housing_data_raw
scraping/Addtional_data
*.csv
node_modules/
.env
*.log
.DS_Store
.terraform/
.terraform*
terraform.tfstate*
database/database-data/*
scraping2/dataexplor/*.json