
.start-title {
  position: absolute;
  top: 5px;
  left: 200px;
  transform: translateX(-50%);
  z-index: 2;
  color: BLack;
  font-size: 3em;
}
.start-button {
  position: absolute;
  top: 100px;
  left: 200px;
  transform: translateX(-50%);
  z-index: 2;
  padding: 1em 2em;
  font-size: 1.2em;
}
